@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: normal;
}

/* colors */
$primary-color: #3b4657;
$secundary-color: #4b5564;
$white-color: #ffffff;
$light-blue-color: #82defb;
$green-color: #b0d738;
$alt-green-color: #dbf348;

body {
    background-color: $secundary-color;
}

/*sizes*/
$big: 24px;
$medium: 16px;

header {
    background-color: $primary-color;
    padding: 24px;

    .logo {
        height: 48px;
        text-align: center;

        img {
            width: 157px;
            height: 48px;
        }
    }
}

main {
    background-color: $secundary-color;

    .heading {
        padding: 0 16px;
        .title {
            margin: 48px 0 16px;

            h1 {
                color: $white-color;
                font-size: $big;
                font-family: "Roboto", sans-serif;
                font-weight: bold;
            }
        }

        h2 {
            color: $light-blue-color;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            font-size: $medium;
        }
    }

    .banner {
        padding: 0 16px;
        margin: 48px 0;

        img {
            width: 100%;
            box-shadow: 2px 4px 8px $light-blue-color;
        }
    }

    .arrow-down {
        text-align: center;
        margin-bottom: 48px;
        img {
            width: 50px;
            height: 35px;
        }
    }

    ul {
        // background-color: red;
        padding: 0 16px;

        li {
            margin-bottom: 16px;
            color: $white-color;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
        }

        li::before {
            content: "";
            vertical-align: middle;
            min-width: 16px;
            min-height: 16px;
            background-image: url("../images/checked.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: inline-block;
            margin-right: 8px;
        }
    }

    .call-to-action {
        margin: 48px 0;
        padding: 0 16px;
        text-align: center;

        button {
            width: 100%;
            max-width: 360px;
            height: 80px;
            background: $alt-green-color;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            color: $primary-color;
            font-size: 20px;
            margin: 0 auto;
        }
    }

    .social {
        padding: 24px;
        background-color: $primary-color;

        :last-child.social-item {
            margin-top: 16px;
        }

        .social-item {
            display: flex;
            justify-content: center;

            a {
                flex: 1;
                display: flex;
                justify-content: center;

                :visited {
                    text-decoration: none;
                    color: $white-color;
                }
            }
            .icon {
                width: 16px;
                height: 16px;
                margin-right: 8px;

                img {
                    width: 100%;
                }
            }

            .text {
                color: $white-color;
                font-family: "Roboto", serif;
            }
        }
    }

    .social:nth-child(2) {
        background-color: aqua;
        height: 90px;
    }
}

footer {
    margin: 48px auto;
    span {
        color: $green-color;
        text-align: center;
        display: block;
        font-family: "Roboto", serif;

        small{
            color: $white-color;
            font-style: italic;
        }
    }
}
