* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto';
}

html, body {
    height: 100%;
}

#wrapper {
    background-color: #3B4657;
    /* height: 100vh; */
    min-height: 1024;
}

#content {
    max-width: 1440px;
    /* background-color: #00bdad; */
    background-color: #3B4657;
    margin: 0 auto;
    display: flex;
    height: 100%;
    min-height: 100vh;
}

#left {
    max-width: 588px;
    height: 100%;
    /* background-color: blueviolet; */
}

#logo {
    margin-top: 60px;
    text-align: center;
}

#logo img {
    width: 100%;
    max-width: 439px;
}

#left #banner {
    width: 96%;
    height: 45%;
    /* background-color: navy; */
    margin-top: 100px;
    /* background-image: url('../images/img-banner.png');
    background-position: -183px;
    background-repeat: no-repeat;*/
    box-shadow: 4px 4px 100px #82DEFB;
}

#banner img {
    width: 100%;
    max-height: 100%;
}

#right {
    flex: 1;
    padding: 0 60px;
    font-size: 16px;
    /* background-color: orange; */
}

h1, li, small, p, button {
    color: #ffffff;
    font-family: 'Roboto';
}

.section-heading, button {
    margin-bottom: 30px;
}

.section-heading {
    margin-top: 60px;
    /* background-color: aqua; */
    width: 100%;
}

.section-heading h1 {
    font-size: 3em;
}

.section-subtitle, ul {
    margin-bottom: 80px;
}

.section-subtitle p {
    color: #82DEFB;
    font-size: 1.5em;
}

ul.items li {
    margin-bottom: 24px;
}

button {
    background-color: #DBF348;
    border: none;
    height: 80px;
    max-width: 588px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2em;
    color: #3B4657;
    cursor: pointer;
}